@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}
@utility rectangle-top {
  clip-path: polygon(0 0, 100% 0, 0 75%);
}

@utility rectangle-bottom {
  clip-path: polygon(100% 100%, 0% 100%, 100% 25%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
